CREATE TABLE IF NOT EXISTS urgency_levels (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    color TEXT NOT NULL,
    sort_order INTEGER DEFAULT 0,
    company_id UUID REFERENCES companies(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

ALTER TABLE sales_requests ADD COLUMN IF NOT EXISTS urgency_id UUID REFERENCES urgency_levels(id) ON DELETE SET NULL;
ALTER TABLE invoice_requests ADD COLUMN IF NOT EXISTS urgency_id UUID REFERENCES urgency_levels(id) ON DELETE SET NULL;
ALTER TABLE kwitansi_requests ADD COLUMN IF NOT EXISTS urgency_id UUID REFERENCES urgency_levels(id) ON DELETE SET NULL;

ALTER TABLE leads ADD COLUMN IF NOT EXISTS is_urgent BOOLEAN DEFAULT FALSE;
ALTER TABLE deals ADD COLUMN IF NOT EXISTS is_urgent BOOLEAN DEFAULT FALSE;

